

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Sign in to</mat-card-subtitle>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>User name</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>

  <button mat-flat-button color="warn"  routerLink="/map" >Sign-in</button>
</mat-card>


