<div id="popup">
</div>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content" class="popup-content">
    <div class="info">
      <img [src]="componentImg"/>
      <p>{{componentName}}</p>
    </div>
    <div class="status">
      <p>Status:<b>{{componentStatus}}</b></p>
      <p>Component type:<b>{{componentType}}</b></p>
    </div>
    <div class="updated">
      <p>Last updated:</p>
      <p><b> {{lastUpdated}} </b></p>
    </div>
  </div>
</div>

<div id="map" class="map-view">


